{% extends 'master.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="text-info text-center">ADD PRODUCT</h1>
    <form class="product-form" method="POST" action="{% url 'add-product-page' %}">
        <p>{{ success }}</p>
        {% csrf_token %}
        <input required class="form-control" placeholder="Enter name" name="p-name" type="text"><br>
        <input required class="form-control" placeholder="Enter qtty" name="p-qtty" type="text"><br>
        <input required class="form-control" placeholder="Enter size" name="p-size" type="text"><br>
        <input required class="form-control" placeholder="Enter price" name="p-price" type="text"><br>
        <input class="btn btn-info" value="save" type="submit">
        <p>{{ prod_name }}</p>
        <p>{{ prod_qtty }}</p>
        <p>{{ prod_size }}</p>
        <p>{{ prod_price }}</p>
    </form>


</div>
{% endblock %}