{% extends 'master.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load crispy_forms_filters %}
<div>
    <form class="register-form" method="post" action="{% url 'user-registration' %}">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form|crispy}}
        </fieldset>
        <div class="form-group">
            <input class="btn btn-info" value="Register" type="submit">
        </div>
    </form>
</div>
{% endblock %}