{% extends 'master.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="text-info text-center">UPDATE PRODUCT</h1>
    <form class="product-form" method="POST" action="/update-product/{{ produc.id }}">
        <p>{{ success }}</p>
        {% csrf_token %}
        <input value="{{ produc.name }}" required class="form-control" placeholder="Update name" name="p-name" type="text"><br>
        <input value="{{ produc.qtty }}" required class="form-control" placeholder="Update qtty" name="p-qtty" type="text"><br>
        <input value="{{ produc.size }}" required class="form-control" placeholder="Update size" name="p-size" type="text"><br>
        <input value="{{ produc.price }}" required class="form-control" placeholder="Update price" name="p-price" type="text"><br>
        <input class="btn btn-info" value="Update" type="submit">
        <p>{{ prod_name }}</p>
        <p>{{ prod_qtty }}</p>
        <p>{{ prod_size }}</p>
        <p>{{ prod_price }}</p>
    </form>


</div>
{% endblock %}